@model IEnumerable<Pepe100.Models.tehtavia>

<div class="container-fluid">
    <table class="table">
        <thead>
            @foreach (var item in Model)
            {
                <tr class="table-success active">
                    @if (item.Lahihoitaja != null)
                    {
                        <td>Lahihoitaja</td>
                    }
                    @if (item.Sairaanhoitaja != null)
                    {
                        <td>Sairaanhoitaja</td>
                    }
                    @if (item.LOP != null)
                    {
                        <td>LOP</td>
                    }
                    @if (item.KIPU != null)
                    {
                        <td>KIPU</td>
                    }
                    @if (item.I_V != null)
                    {
                        <td>I_V</td>
                    }
                    @if (item.LAS != null)
                    {
                        <td>LAS</td>
                    }


                </tr>
            }
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @if (item.Lahihoitaja != null)
                    {
                        <td>Valittu</td>
                    }
                    @if (item.Sairaanhoitaja != null)
                    {
                        <td>Valittu</td>
                    }
                    @if (item.LOP != null)
                    {
                        <td>Valittu</td>
                    }
                    @if (item.KIPU != null)
                    {
                        <td>Valittu</td>
                    }
                    @if (item.I_V != null)
                    {
                        <td>Valittu</td>
                    }
                    @if (item.LAS != null)
                    {
                        <td>Valittu</td>
                    }


                </tr>
            }
        </tbody>
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.GER)</th>
                <th>@Html.DisplayNameFor(model => model.PSYK)</th>
                <th>@Html.DisplayNameFor(model => model.ROKOTUS)</th>
                <th>@Html.DisplayNameFor(model => model.Tyokokemus)</th>
                <th>@Html.DisplayNameFor(model => model.Vanhustenhoito_kotihoito)</th>
                <th>@Html.DisplayNameFor(model => model.Mielenterveys)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    @if (item.GER != null)
                    {
                        <td>Valittu</td>
                    }
                    @if (item.PSYK != null)
                    {
                        <td>Valittu</td>
                    }
                    @if (item.ROKOTUS != null)
                    {
                        <td>Valittu</td>

                    }
                    @if (item.Tyokokemus != null)
                    {
                        if (item.Tyokokemus == 1)
                        {
                            <td>
                                Työkokemus: 0-1 v.
                            </td>
                        }
                        else if (item.Tyokokemus == 25)
                        {
                            <td>
                                Työkokemus: 2-5 v.
                            </td>
                        }
                        else if (item.Tyokokemus == 610)
                        {
                            <td>
                                Työkokemus: 6-10 v.
                            </td>
                        }
                        else if (item.Tyokokemus == 1000)
                        {
                            <td>
                                Työkokemus: 10+ v.
                            </td>
                        }
                    }
                    @if (item.Vanhustenhoito_kotihoito != null)
                    {
                        <td>Valittu</td>
                    }
                    @if (item.Mielenterveys != null)
                    {
                        <td>Valittu</td>
                    }

                </tr>
            }
        </tbody>
        <thead>
            <tr>

                <th>@Html.DisplayNameFor(model => model.Paivystys_Ensihoito)</th>
                <th>@Html.DisplayNameFor(model => model.Lapset)</th>
                <th>@Html.DisplayNameFor(model => model.Kehitysvammaiset)</th>
                <th>@Html.DisplayNameFor(model => model.Hengityshalvaus)</th>
                <th>@Html.DisplayNameFor(model => model.Ensihoitaja_AMK)</th>
                <th>@Html.DisplayNameFor(model => model.Terveydenhoitaja)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    @if (item.Paivystys_Ensihoito != null)
                    {
                        <td>Valittu</td>
                    }
                    @if (item.Lapset != null)
                    {
                        <td>Valittu</td>
                    }
                    @if (item.Kehitysvammaiset != null)
                    {
                        <td>Valittu</td>
                    }
                    @if (item.Hengityshalvaus != null)
                    {
                        <td>Valittu</td>
                    }
                    @if (item.Ensihoitaja_AMK != null)
                    {
                        <td>Valittu</td>
                    }
                    @if (item.Terveydenhoitaja != null)
                    {
                        <td>Valittu</td>
                    }
                </tr>
            }
        </tbody>
        <thead>
            <tr>

                <th>@Html.DisplayNameFor(model => model.Katilo)</th>
                <th>@Html.DisplayNameFor(model => model.Osastotyoskentely)</th>
                <th>@Html.DisplayNameFor(model => model.Paivystys)</th>
                <th>@Html.DisplayNameFor(model => model.Teho_osasto)</th>
                <th>@Html.DisplayNameFor(model => model.Ensihoito)</th>
                <th>@Html.DisplayNameFor(model => model.Kommentit)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    @if (item.Katilo != null)
                    {
                        <td>Valittu</td>
                    }
                    @if (item.Osastotyoskentely != null)
                    {
                        <td>Valittu</td>
                    }
                    @if (item.Paivystys != null)
                    {
                        <td>Valittu</td>
                    }
                    @if (item.Teho_osasto != null)
                    {
                        <td>Valittu</td>
                    }
                    @if (item.Ensihoito != null)
                    {
                        <td>Valittu</td>
                    }
                    @if (item.Kommentit != null)
                    {
                        <td>@Html.DisplayFor(modelItem => item.Kommentit)</td>
                    }
                </tr>
            }
        </tbody>

    </table>
</div>
