@*@model IEnumerable<Pepe10.Models.Yrity>*@
@*@model Pepe10.ViewModels.TyontekijatViewModel

	@{
		ViewBag.Title = "Index";
	}*@
<p>@Html.ActionLink("Create New", "Create")</p>
<p>@Html.ActionLink("Omat Vuorot", "OmatVuorotYritys")</p>
<p>@Html.ActionLink("Avoimet Vuorot", "AvoimetVuorotYritys")</p>

@*<h2>Index</h2>
	@section scripts{

		<script type="text/javascript">
			$(window).on('load', function () {
				if (@ViewBag.LahiError == 0) {
					$('#LahihoitajaTilausRuutu').modal('show');
				}
			});
		</script>
		<script type="text/javascript">
			$(window).on('load', function () {
				if (@ViewBag.SairaanError == 1) {
					$('#SairaanhoitajaTilausRuutu').modal('show');
				}
			});
		</script>
	}

	@{
		Html.RenderPartial("~/Views/Yritys/_LahihoitajaTilaus.cshtml");
		Html.RenderPartial("~/Views/Yritys/_SairaanhoitajaTilaus.cshtml");
	}*@
@*<p>
		@Html.ActionLink("Create New", "Create")
	</p>
	<table class="table">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.YritysNimi)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.YritysEmail)
			</th>
			<th></th>
		</tr>

		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.YritysNimi)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.YritysEmail)
				</td>
				<td>
					@Html.ActionLink("Edit", "Edit", new { id = item.YritysID }) |
					@Html.ActionLink("Details", "Details", new { id = item.YritysID }) |
					@Html.ActionLink("Delete", "Delete", new { id = item.YritysID })
				</td>
			</tr>
		}

	</table>*@
