@model IEnumerable<Pepe100.Models.tehtavia>

@{ ViewBag.Title = "OmatVuorot"; }

<h2>OmatVuorot</h2>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Tehtava)</th>
        <th>@Html.DisplayNameFor(model => model.TehtavaTaytetty)</th>
        <th>@Html.DisplayNameFor(model => model.TehtavaValmis)</th>
        <th>@Html.DisplayNameFor(model => model.ToteutunutHinta)</th>
        <th>@Html.DisplayNameFor(model => model.Sijainti)</th>
        <th>@Html.DisplayNameFor(model => model.Etunimi)</th>
        <th>@Html.DisplayNameFor(model => model.Sukunimi)</th>
        <th>@Html.DisplayNameFor(model => model.Puhelin)</th>
        <th>@Html.DisplayNameFor(model => model.Email)</th>
        <th>@Html.DisplayNameFor(model => model.EmailMessage)</th>
        <th>@Html.DisplayNameFor(model => model.Aloitusaika)</th>
        <th>@Html.DisplayNameFor(model => model.Lopetusaika)</th>
        <th>@Html.DisplayNameFor(model => model.AikaYhteensa)</th>
        <th>@Html.DisplayNameFor(model => model.Luotu)</th>
        <th>@Html.DisplayNameFor(model => model.ViimeksiMuokattu)</th>
        <th>@Html.DisplayNameFor(model => model.Poistettu)</th>
        <th>@Html.DisplayNameFor(model => model.Aktiivinen)</th>
        <th>@Html.DisplayNameFor(model => model.Lahihoitaja)</th>
        <th>@Html.DisplayNameFor(model => model.Sairaanhoitaja)</th>
        <th>@Html.DisplayNameFor(model => model.LOP)</th>
        <th>@Html.DisplayNameFor(model => model.KIPU)</th>
        <th>@Html.DisplayNameFor(model => model.I_V)</th>
        <th>@Html.DisplayNameFor(model => model.LAS)</th>
        <th>@Html.DisplayNameFor(model => model.GER)</th>
        <th>@Html.DisplayNameFor(model => model.PSYK)</th>
        <th>@Html.DisplayNameFor(model => model.ROKOTUS)</th>
        <th>@Html.DisplayNameFor(model => model.Tyokokemus)</th>
        <th>@Html.DisplayNameFor(model => model.Vanhustenhoito_kotihoito)</th>
        <th>@Html.DisplayNameFor(model => model.Mielenterveys)</th>
        <th>@Html.DisplayNameFor(model => model.Paivystys_Ensihoito)</th>
        <th>@Html.DisplayNameFor(model => model.Lapset)</th>
        <th>@Html.DisplayNameFor(model => model.Kehitysvammaiset)</th>
        <th>@Html.DisplayNameFor(model => model.Hengityshalvaus)</th>
        <th>@Html.DisplayNameFor(model => model.Ensihoitaja_AMK)</th>
        <th>@Html.DisplayNameFor(model => model.Terveydenhoitaja)</th>
        <th>@Html.DisplayNameFor(model => model.Katilo)</th>
        <th>@Html.DisplayNameFor(model => model.Osastotyoskentely)</th>
        <th>@Html.DisplayNameFor(model => model.Paivystys)</th>
        <th>@Html.DisplayNameFor(model => model.Teho_osasto)</th>
        <th>@Html.DisplayNameFor(model => model.Ensihoito)</th>
        <th>@Html.DisplayNameFor(model => model.Kommentit)</th>
        <th>@Html.DisplayNameFor(model => model.login.UserName)</th>
        <th>@Html.DisplayNameFor(model => model.tyontekijat2.Etunimi)</th>
        <th>@Html.DisplayNameFor(model => model.yritys.YritysNimi)</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Tehtava)</td>
            <td>@Html.DisplayFor(modelItem => item.TehtavaTaytetty)</td>
            <td>@Html.DisplayFor(modelItem => item.TehtavaValmis)</td>
            <td>@Html.DisplayFor(modelItem => item.ToteutunutHinta)</td>
            <td>@Html.DisplayFor(modelItem => item.Sijainti)</td>
            <td>@Html.DisplayFor(modelItem => item.Etunimi)</td>
            <td>@Html.DisplayFor(modelItem => item.Sukunimi)</td>
            <td>@Html.DisplayFor(modelItem => item.Puhelin)</td>
            <td>@Html.DisplayFor(modelItem => item.Email)</td>
            <td>@Html.DisplayFor(modelItem => item.EmailMessage)</td>
            <td>@Html.DisplayFor(modelItem => item.Aloitusaika)</td>
            <td>@Html.DisplayFor(modelItem => item.Lopetusaika)</td>
            <td>@Html.DisplayFor(modelItem => item.AikaYhteensa)</td>
            <td>@Html.DisplayFor(modelItem => item.Luotu)</td>
            <td>@Html.DisplayFor(modelItem => item.ViimeksiMuokattu)</td>
            <td>@Html.DisplayFor(modelItem => item.Poistettu)</td>
            <td>@Html.DisplayFor(modelItem => item.Aktiivinen)</td>
            <td>@Html.DisplayFor(modelItem => item.Lahihoitaja)</td>
            <td>@Html.DisplayFor(modelItem => item.Sairaanhoitaja)</td>
            <td>@Html.DisplayFor(modelItem => item.LOP)</td>
            <td>@Html.DisplayFor(modelItem => item.KIPU)</td>
            <td>@Html.DisplayFor(modelItem => item.I_V)</td>
            <td>@Html.DisplayFor(modelItem => item.LAS)</td>
            <td>@Html.DisplayFor(modelItem => item.GER)</td>
            <td>@Html.DisplayFor(modelItem => item.PSYK)</td>
            <td>@Html.DisplayFor(modelItem => item.ROKOTUS)</td>
            <td>@Html.DisplayFor(modelItem => item.Tyokokemus)</td>
            <td>@Html.DisplayFor(modelItem => item.Vanhustenhoito_kotihoito)</td>
            <td>@Html.DisplayFor(modelItem => item.Mielenterveys)</td>
            <td>@Html.DisplayFor(modelItem => item.Paivystys_Ensihoito)</td>
            <td>@Html.DisplayFor(modelItem => item.Lapset)</td>
            <td>@Html.DisplayFor(modelItem => item.Kehitysvammaiset)</td>
            <td>@Html.DisplayFor(modelItem => item.Hengityshalvaus)</td>
            <td>@Html.DisplayFor(modelItem => item.Ensihoitaja_AMK)</td>
            <td>@Html.DisplayFor(modelItem => item.Terveydenhoitaja)</td>
            <td>@Html.DisplayFor(modelItem => item.Katilo)</td>
            <td>@Html.DisplayFor(modelItem => item.Osastotyoskentely)</td>
            <td>@Html.DisplayFor(modelItem => item.Paivystys)</td>
            <td>@Html.DisplayFor(modelItem => item.Teho_osasto)</td>
            <td>@Html.DisplayFor(modelItem => item.Ensihoito)</td>
            <td>@Html.DisplayFor(modelItem => item.Kommentit)</td>
            <td>@Html.DisplayFor(modelItem => item.login.UserName)</td>
            <td>@Html.DisplayFor(modelItem => item.tyontekijat2.Etunimi)</td>
            <td>@Html.DisplayFor(modelItem => item.yritys.YritysNimi)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TyoID }) |
                @Html.ActionLink("Details", "Details", new { id = item.TyoID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TyoID })
            </td>
        </tr>
}

</table>
