@model Pepe100.Models.tehtavia

@{ ViewBag.Title = "TulevatVuorotHyvaksyYritys"; }

<h2>TulevatVuorotHyvaksyYritys</h2>

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()

				<div class="form-horizontal">
					<h4>Tehtavia</h4>
					<hr />
					@Html.ValidationSummary(true, "", new { @class = "text-danger" })
					@Html.HiddenFor(model => model.TyoID)
					@Html.HiddenFor(model => model.YritysID)

					<dl class="dl-horizontal">
						<dt style="color: white">@Html.DisplayNameFor(model => model.YritysID)</dt>
						<dd>@Html.DisplayFor(model => model.YritysID)</dd>

						<dt style="color: white">@Html.DisplayNameFor(model => model.Tehtava)</dt>
						<dd>@Html.DisplayFor(model => model.Tehtava)</dd>

						<dt style="color: white">@Html.DisplayNameFor(model => model.Sijainti)</dt>
						<dd>@Html.DisplayFor(model => model.Sijainti)</dd>

						<dt style="color: white">@Html.DisplayNameFor(model => model.Puhelin)</dt>
						<dd>@Html.DisplayFor(model => model.Puhelin)</dd>

						<dt style="color: white">@Html.DisplayNameFor(model => model.Aloitusaika)</dt>
						<dd>@Html.DisplayFor(model => model.Aloitusaika)</dd>

						<dt style="color: white">@Html.DisplayNameFor(model => model.Lopetusaika)</dt>
						<dd>@Html.DisplayFor(model => model.Lopetusaika)</dd>

						<dt style="color: white">@Html.DisplayNameFor(model => model.AikaYhteensa)</dt>
						<dd>@Html.DisplayFor(model => model.AikaYhteensa)</dd>

						<dt style="color: white">@Html.DisplayNameFor(model => model.Lahihoitaja)</dt>
						<dd>@Html.DisplayFor(model => model.Lahihoitaja)</dd>

						<dt style="color: white">@Html.DisplayNameFor(model => model.Sairaanhoitaja)</dt>
						<dd>@Html.DisplayFor(model => model.Sairaanhoitaja)</dd>

						<dt style="color: white">@Html.DisplayNameFor(model => model.LOP)</dt>
						<dd>@Html.DisplayFor(model => model.LOP)</dd>

						<dt style="color: white">@Html.DisplayNameFor(model => model.KIPU)</dt>
						<dd>@Html.DisplayFor(model => model.KIPU)</dd>

						<dt style="color: white">@Html.DisplayNameFor(model => model.I_V)</dt>
						<dd>@Html.DisplayFor(model => model.I_V)</dd>

						<dt style="color: white">@Html.DisplayNameFor(model => model.LAS)</dt>
						<dd>@Html.DisplayFor(model => model.LAS)</dd>

						<dt style="color: white">@Html.DisplayNameFor(model => model.GER)</dt>
						<dd>@Html.DisplayFor(model => model.GER)</dd>

						<dt style="color: white">@Html.DisplayNameFor(model => model.PSYK)</dt>
						<dd>@Html.DisplayFor(model => model.PSYK)</dd>

						<dt style="color: white">@Html.DisplayNameFor(model => model.ROKOTUS)</dt>
						<dd>@Html.DisplayFor(model => model.ROKOTUS)</dd>

						<dt style="color: white">@Html.DisplayNameFor(model => model.Tyokokemus)</dt>
						<dd>@Html.DisplayFor(model => model.Tyokokemus)</dd>

						<dt style="color: white">@Html.DisplayNameFor(model => model.Vanhustenhoito_kotihoito)</dt>
						<dd>@Html.DisplayFor(model => model.Vanhustenhoito_kotihoito)</dd>

						<dt style="color: white">@Html.DisplayNameFor(model => model.Mielenterveys)</dt>
						<dd>@Html.DisplayFor(model => model.Mielenterveys)</dd>

						<dt style="color: white">@Html.DisplayNameFor(model => model.Paivystys_Ensihoito)</dt>
						<dd>@Html.DisplayFor(model => model.Paivystys_Ensihoito)</dd>

						<dt style="color: white">@Html.DisplayNameFor(model => model.Lapset)</dt>
						<dd>@Html.DisplayFor(model => model.Lapset)</dd>

						<dt style="color: white">@Html.DisplayNameFor(model => model.Kehitysvammaiset)</dt>
						<dd>@Html.DisplayFor(model => model.Kehitysvammaiset)</dd>

						<dt style="color: white">@Html.DisplayNameFor(model => model.Hengityshalvaus)</dt>
						<dd>@Html.DisplayFor(model => model.Hengityshalvaus)</dd>

						<dt style="color: white">@Html.DisplayNameFor(model => model.Ensihoitaja_AMK)</dt>
						<dd>@Html.DisplayFor(model => model.Ensihoitaja_AMK)</dd>

						<dt style="color: white">@Html.DisplayNameFor(model => model.Terveydenhoitaja)</dt>
						<dd>@Html.DisplayFor(model => model.Terveydenhoitaja)</dd>

						<dt style="color: white">@Html.DisplayNameFor(model => model.Katilo)</dt>
						<dd>@Html.DisplayFor(model => model.Katilo)</dd>

						<dt style="color: white">@Html.DisplayNameFor(model => model.Osastotyoskentely)</dt>
						<dd>@Html.DisplayFor(model => model.Osastotyoskentely)</dd>

						<dt style="color: white">@Html.DisplayNameFor(model => model.Paivystys)</dt>
						<dd>@Html.DisplayFor(model => model.Paivystys)</dd>

						<dt style="color: white">@Html.DisplayNameFor(model => model.Teho_osasto)</dt>
						<dd>@Html.DisplayFor(model => model.Teho_osasto)</dd>

						<dt style="color: white">@Html.DisplayNameFor(model => model.Ensihoito)</dt>
						<dd>@Html.DisplayFor(model => model.Ensihoito)</dd>

						<dt style="color: white">@Html.DisplayNameFor(model => model.TarjousHinta)</dt>
						<dd>@Html.DisplayFor(model => model.TarjousHinta)</dd>

						<dt style="color: white">@Html.DisplayNameFor(model => model.Kommentit)</dt>
						<dd>@Html.DisplayFor(model => model.Kommentit)</dd>

					</dl>

					@*<div class="form-group">
							@Html.LabelFor(model => model.TarjousHinta, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.TarjousHinta, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.TarjousHinta, "", new { @class = "text-danger" })
							</div>
						</div>*@


					<div class="form-group">
						<div class="col-md-offset-2 col-md-10">
							<input type="submit" value="Save" class="btn btn-default" />
						</div>
					</div>
				</div>}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>
