@model IEnumerable<Pepe100.Models.tehtavia>

@{ ViewBag.Title = "AvoimetVuorot"; }
@section scripts{
    <script type="text/javascript">
        $(function () {
            $(".naytaTehtava").click(function () {
                let tyoid = $(this).data("tyoid");
                var url = "/Tyontekijat2/_AvoimetVuorot/?tyoid=" + tyoid;
                $("#tehtavaDetails_" + tyoid).append(" <b>Ladataan tilauksen " + tyoid + " rivejä...</b>");
                var $detailDiv = $("#tehtavaDetails_" + tyoid);
                $.get(url, function (data) {
                    $detailDiv.replaceWith(data);
                });
            });
        });</script>
}
<div class="container-fluid">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Avoimet Vuorot
            </div>
            <div class="panel-body">
                <table class="table table-bordered active">
                    @foreach (var item in Model)
                    {
                        <thead>
                            <tr class="info">
                                <th style="width: 16.66666666666667%"></th>
                                @if (item.Tehtava != null)
                                {
                                    <th style="width: 16.66666666666667%">Tehtava</th>
                                }
                                @if (item.TarjousHinta != null)
                                {
                                    <th style="width: 16.66666666666667%">TarjousHinta</th>
                                }
                                @if (item.Aloitusaika != null)
                                {
                                    <th style="width: 16.66666666666667%">Aloitusaika</th>
                                }
                                @if (item.Lopetusaika != null)
                                {
                                    <th style="width: 16.66666666666667%">Lopetusaika</th>
                                }
                                @if (item.AikaYhteensa != null)
                                {
                                    <th style="width: 16.66666666666667%">AikaYhteensa</th>
                                }
                        </thead>
                        <tbody>
                            <tr data-toggle="collapse" data-target="#demo1" class="accordion-toggle">
                                <td style="width: 16.66666666666667%"><span class="form-control bg-dark">@Html.ActionLink("Tarjoa", "VastaTarjous", new { id = item.TyoID, yid = item.YritysID, henkid = Session["HenkiloID"] })</span></td>
                                @if (item.Tehtava != null)
                                {
                                    <td style="width: 16.66666666666667%">@item.Tehtava</td>
                                }
                                @if (item.TarjousHinta != null)
                                {
                                    <td style="width: 16.66666666666667%">@item.TarjousHinta</td>
                                }
                                @if (item.Aloitusaika != null)
                                {
                                    <td style="width: 16.66666666666667%">@item.Aloitusaika</td>
                                }
                                @if (item.Lopetusaika != null)
                                {
                                    <td style="width: 16.66666666666667%">@item.Lopetusaika</td>
                                }
                                @if (item.AikaYhteensa != null)
                                {
                                    <td style="width: 16.66666666666667%">@item.AikaYhteensa</td>
                                }
                            </tr>

                            <tr>
                                <td colspan="6" class="hiddenRow">
                                    <div class="accordian-body collapse" id="demo1">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr class="info">
                                                    @if (item.Lahihoitaja != null)
                                                    {
                                                        <th style="width: 16.66666666666667%">Lahihoitaja</th>
                                                    }
                                                    @if (item.Sairaanhoitaja != null)
                                                    {
                                                        <th style="width: 16.66666666666667%">Sairaanhoitaja</th>
                                                    }
                                                    @if (item.LOP != null)
                                                    {
                                                        <th style="width: 16.66666666666667%">LOP</th>
                                                    }
                                                    @if (item.KIPU != null)
                                                    {
                                                        <th style="width: 16.66666666666667%">KIPU</th>
                                                    }
                                                    @if (item.I_V != null)
                                                    {
                                                        <th style="width: 16.66666666666667%">I_V</th>
                                                    }
                                                    @if (item.LAS != null)
                                                    {
                                                        <th style="width: 16.66666666666667%">LAS</th>
                                                    }
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr data-toggle="collapse" class="accordion-toggle" data-target="#demo10">
                                                    @if (item.Lahihoitaja != null)
                                                    {
                                                        <td style="width: 16.66666666666667%">
                                                            <svg viewBox="0 0 512 512" width="20" title="check-circle">
                                                                <path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" />
                                                            </svg>
                                                        </td>
                                                    }

                                                    @if (item.Sairaanhoitaja != null)
                                                    {
                                                        <td style="width: 16.66666666666667%">
                                                            <svg viewBox="0 0 512 512" width="20" title="check-circle">
                                                                <path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" />
                                                            </svg>
                                                        </td>
                                                    }

                                                    @if (item.LOP != null)
                                                    {
                                                        <td style="width: 16.66666666666667%">
                                                            <svg viewBox="0 0 512 512" width="20" title="check-circle">
                                                                <path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" />
                                                            </svg>
                                                        </td>
                                                    }

                                                    @if (item.KIPU != null)
                                                    {
                                                        <td style="width: 16.66666666666667%">
                                                            <svg viewBox="0 0 512 512" width="20" title="check-circle">
                                                                <path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" />
                                                            </svg>
                                                        </td>
                                                    }

                                                    @if (item.I_V != null)
                                                    {
                                                        <td style="width: 16.66666666666667%">
                                                            <svg viewBox="0 0 512 512" width="20" title="check-circle">
                                                                <path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" />
                                                            </svg>
                                                        </td>
                                                    }

                                                    @if (item.LAS != null)
                                                    {
                                                        <td style="width: 16.66666666666667%">
                                                            <svg viewBox="0 0 512 512" width="20" title="check-circle">
                                                                <path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" />
                                                            </svg>
                                                        </td>
                                                    }

                                                </tr>
                                            </tbody>
                                            <thead>
                                                <tr class="info">
                                                    @if (item.GER != null)
                                                    {
                                                        <th style="width: 16.66666666666667%">GER</th>
                                                    }
                                                    @if (item.PSYK != null)
                                                    {
                                                        <th style="width: 16.66666666666667%">PSYK</th>
                                                    }
                                                    @if (item.ROKOTUS != null)
                                                    {
                                                        <th style="width: 16.66666666666667%">ROKOTUS</th>
                                                    }
                                                    @if (item.Tyokokemus != null)
                                                    {
                                                        <th style="width: 16.66666666666667%">Tyokokemus</th>
                                                    }
                                                    @if (item.Vanhustenhoito_kotihoito != null)
                                                    {
                                                        <th style="width: 16.66666666666667%">Vanhustenhoito_kotihoito</th>
                                                    }
                                                    @if (item.Mielenterveys != null)
                                                    {
                                                        <th style="width: 16.66666666666667%">Mielenterveys</th>
                                                    }
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr data-toggle="collapse" class="accordion-toggle" data-target="#demo10">
                                                    @if (item.GER != null)
                                                    {
                                                        <td>
                                                            <svg viewBox="0 0 512 512" width="20" title="check-circle">
                                                                <path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" />
                                                            </svg>
                                                        </td>
                                                    }

                                                    @if (item.PSYK != null)
                                                    {
                                                        <td>
                                                            <svg viewBox="0 0 512 512" width="20" title="check-circle">
                                                                <path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" />
                                                            </svg>
                                                        </td>
                                                    }

                                                    @if (item.ROKOTUS != null)
                                                    {
                                                        <td>
                                                            <svg viewBox="0 0 512 512" width="20" title="check-circle">
                                                                <path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" />
                                                            </svg>
                                                        </td>
                                                    }

                                                    <td>@item.Tyokokemus</td>


                                                    @if (item.Vanhustenhoito_kotihoito != null)
                                                    {
                                                        <td>
                                                            <svg viewBox="0 0 512 512" width="20" title="check-circle">
                                                                <path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" />
                                                            </svg>
                                                        </td>
                                                    }

                                                    @if (item.Mielenterveys != null)
                                                    {
                                                        <td>
                                                            <svg viewBox="0 0 512 512" width="20" title="check-circle">
                                                                <path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" />
                                                            </svg>
                                                        </td>
                                                    }

                                                </tr>
                                            </tbody>
                                            <thead>
                                                <tr class="info">
                                                    @if (item.Paivystys_Ensihoito != null)
                                                    {
                                                        <th style="width: 16.66666666666667%">Paivystys_Ensihoito</th>
                                                    }
                                                    @if (item.Lapset != null)
                                                    {
                                                        <th style="width: 16.66666666666667%">Lapset</th>
                                                    }
                                                    @if (item.Kehitysvammaiset != null)
                                                    {
                                                        <th style="width: 16.66666666666667%">Kehitysvammaiset</th>
                                                    }
                                                    @if (item.Hengityshalvaus != null)
                                                    {
                                                        <th style="width: 16.66666666666667%">Hengityshalvaus</th>
                                                    }
                                                    @if (item.Ensihoitaja_AMK != null)
                                                    {
                                                        <th style="width: 16.66666666666667%">Ensihoitaja_AMK</th>
                                                    }
                                                    @if (item.Terveydenhoitaja != null)
                                                    {
                                                        <th style="width: 16.66666666666667%">Terveydenhoitaja</th>
                                                    }
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr data-toggle="collapse" class="accordion-toggle" data-target="#demo10">
                                                    @if (item.Paivystys_Ensihoito != null)
                                                    {
                                                        <td>
                                                            <svg viewBox="0 0 512 512" width="20" title="check-circle">
                                                                <path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" />
                                                            </svg>
                                                        </td>
                                                    }

                                                    @if (item.Lapset != null)
                                                    {
                                                        <td>
                                                            <svg viewBox="0 0 512 512" width="20" title="check-circle">
                                                                <path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" />
                                                            </svg>
                                                        </td>
                                                    }

                                                    @if (item.Kehitysvammaiset != null)
                                                    {
                                                        <td>
                                                            <svg viewBox="0 0 512 512" width="20" title="check-circle">
                                                                <path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" />
                                                            </svg>
                                                        </td>
                                                    }

                                                    @if (item.Hengityshalvaus != null)
                                                    {
                                                        <td>
                                                            <svg viewBox="0 0 512 512" width="20" title="check-circle">
                                                                <path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" />
                                                            </svg>
                                                        </td>
                                                    }

                                                    @if (item.Ensihoitaja_AMK != null)
                                                    {
                                                        <td>
                                                            <svg viewBox="0 0 512 512" width="20" title="check-circle">
                                                                <path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" />
                                                            </svg>
                                                        </td>
                                                    }

                                                    @if (item.Terveydenhoitaja != null)
                                                    {
                                                        <td>
                                                            <svg viewBox="0 0 512 512" width="20" title="check-circle">
                                                                <path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" />
                                                            </svg>
                                                        </td>
                                                    }

                                                </tr>
                                            </tbody>
                                            <thead>
                                                <tr class="info">
                                                    @if (item.Katilo != null)
                                                    {
                                                        <th style="width: 16.66666666666667%">Katilo</th>
                                                    }
                                                    @if (item.Osastotyoskentely != null)
                                                    {
                                                        <th style="width: 16.66666666666667%">Osastotyoskentely</th>
                                                    }
                                                    @if (item.Paivystys != null)
                                                    {
                                                        <th style="width: 16.66666666666667%">Paivystys</th>
                                                    }
                                                    @if (item.Teho_osasto != null)
                                                    {
                                                        <th style="width: 16.66666666666667%">Teho_osasto</th>
                                                    }
                                                    @if (item.Ensihoito != null)
                                                    {
                                                        <th style="width: 16.66666666666667%">Ensihoito</th>
                                                    }
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr data-toggle="collapse" class="accordion-toggle" data-target="#demo10">
                                                    @if (item.Katilo != null)
                                                    {
                                                        <td>
                                                            <svg viewBox="0 0 512 512" width="20" title="check-circle">
                                                                <path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" />
                                                            </svg>
                                                        </td>
                                                    }

                                                    @if (item.Osastotyoskentely != null)
                                                    {
                                                        <td>
                                                            <svg viewBox="0 0 512 512" width="20" title="check-circle">
                                                                <path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" />
                                                            </svg>
                                                        </td>
                                                    }

                                                    @if (item.Paivystys != null)
                                                    {
                                                        <td>
                                                            <svg viewBox="0 0 512 512" width="20" title="check-circle">
                                                                <path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" />
                                                            </svg>
                                                        </td>
                                                    }

                                                    @if (item.Teho_osasto != null)
                                                    {
                                                        <td>
                                                            <svg viewBox="0 0 512 512" width="20" title="check-circle">
                                                                <path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" />
                                                            </svg>
                                                        </td>
                                                    }

                                                    @if (item.Ensihoito != null)
                                                    {
                                                        <td>
                                                            <svg viewBox="0 0 512 512" width="20" title="check-circle">
                                                                <path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" />
                                                            </svg>
                                                        </td>
                                                    }
                                                </tr>
                                            </tbody>
                                            <thead>
                                                <tr class="info">
                                                    <th>Kommentit</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr data-toggle="collapse" class="accordion-toggle" data-target="#demo10">
                                                    <td>@item.Kommentit</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

